.greenBox{
background-color: green;
}

#dottedBox{
  border: black 3px;
  border-style: dotted;
  border-width: thick;
  margin-left: 15px;
}
#orangeText{
  font-size: 16px;
  color:red;
  padding-top: 15px;
  padding-bottom: 5px;
}

#greenInsideText{
  font-size: 16px;
  color:darkgreen;
  padding-top: 5px;
  padding-bottom: 15px;
}

#purpleText {
  color:purple;
  font-size: 16px;
}
