body{
	background-color:blue;
}

.largeBox {
  margin-top: 50px;
	margin-left: 50px;
  margin-right: 50px;

  border: black 3px;
  border-style: solid;
}

#smallBox {
  border: green 2px;
  margin: 20px;
  border-style: dashed;
}

#boomerPicture {
  align-items: left;
  padding: 10px;
  border: pink 1px;
  border-style: dashed;
  height: 300px;
  width: auto;



}
#pinkText {
  color: fuchsia;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;

}
