.bigbox{
background-color: green;
}

#box{
  border: black 3px;
  border-style: dotted;
  padding-left: 15px;
  padding-right: 15px;
}
#orange{
  font-size: 16px;
  color:red;
  padding-top: 15px;
  padding-bottom: 5px;
}

#green{
  font-size: 16px;
  color:darkgreen;
  padding-top: 5px;
  padding-bottom: 15px;
}

#text {
  color=purple;
  font-size: 14px;
}
