body{
	background-color:blue;
}

.largebox {
  margin-top: 10%;
	margin-left: 50px;


  border: black 3px;
  border-style: solid;
}

#smallbox {
  border: green 2px;
  margin: 20px;
  border-style: dashed;
}

#boomer {
  align-items: left;
  padding: 10px;
  border: white 1px;
  border-style: dashed;
  height: 170px;
  width: auto;



}
#text {
  color: fuchsia;
  font-family: arial sans-serif;
  padding-left: 10px;
  font-size: 14px;
}
