* {
    margin-top: 0;

  }


body{
	background-color:green;

}

h2{
	border: 0 0;
}
#wrapper{
	Width: 750px;
	margin:0 auto;

}

#topText{
	background-color: red;
	padding-bottom: 15px;
	text-align: center;

}

#leftBody{
	float: left;
	background-color: lightpink;
	padding-bottom: 15px;
	padding-top: 7px;
	width:250px;
}


#rightBody{
	float: right;
	width:500px;
	padding-top: 7px;
	padding-bottom: 15px;
	background-color: orange;


}

#middleText{
	background-color: blue;
	padding-bottom:500px;
	clear: both;
	border:0;



}

#footerText{
	background-color: yellow;
	padding-bottom: 10px;
	padding-top: 1px;
	margin: 0;
	border: 0;
	text-align: left;


}
