* {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

body{

  color:white;
}



#wrapper1{
  margin:0 0;

}

 #topHeader{
background-color: red;
text-align: center;
margin:0 0;
padding-bottom: 20px;
}


#leftSide{
background-color: green;
font-size: 8px;
padding-bottom: 500px;



}

#footerTwo{
background-color: blue;
font-size: 8px;
padding-bottom: 100px;
}
