#largeWrapper{
  background-color: green;
  margin:auto;
  z-index: 1;
}

#smallWrapper{
  align:center;
  height:1000px;
  width:1000px;
  margin:auto;
  position: relative;


}

#blueBox{
  background-color: blue;
  width: 280px;
  height: 280px;
  padding-top: 2px;
  margin:8px;
  float:left;


}

#redBox{
    background-color: red;
    width: 280px;
    height: 280px;
    padding-top: 2px;
    float:right;
    margin-top: 8px;


}


#yellowBox{
  background-color: yellow;
  width: 280px;
  height: 280px;
  text-align: left;
  clear: both;
  margin: auto;


}
